<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026308650809-o11cgaiinm016s52qcnm385cbd6riuql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026308650809-o11cgaiinm016s52qcnm385cbd6riuql</string>
	<key>API_KEY</key>
	<string>AIzaSyBsZI54Gu4ZEP28mP9O2WsiqJyVKhqZ0_I</string>
	<key>GCM_SENDER_ID</key>
	<string>1026308650809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calogerofriscia.FoodieClientIOS</string>
	<key>PROJECT_ID</key>
	<string>dishrevueproject</string>
	<key>STORAGE_BUCKET</key>
	<string>dishrevueproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026308650809:ios:badc6bf7010547bf3c5ae8</string>
</dict>
</plist>